
@media only screen  and (min-width : 768px) {

  .product-wrapper {
    .product-head {
      .product-image {

        img {
          width: 80%;
          height: 120px;
          object-fit: contain;
          padding: 20px 0;
        }
      }
    }
  }

  .connectionCount {
      font-size: 12px;
  }

  .pro-user-avtar{
    display: inline-flex;
    width: auto;
    padding-right: 5px;
     li{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      overflow: hidden;
      list-style: none;
      box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
      margin-left: -10px;
      display: inline-block;

      &:first-child{
        margin-left: 0px;
      }

      img{
          height: 25px;
          width: 25px;
      }

     }
     
  }

}
