
@media only screen  and (min-width : 768px) {

  .product-wrapper {
    .product-head {
      .product-image {

        img {
          width: 80%;
          height: 120px;
          object-fit: contain;
          padding: 20px 0;
        }
      }
    }
  }

  .company {
    .location {
      font-size: 14px;
    }
  }


}
