.page-job-detail {

	.section {

		margin-bottom: 15px;

		ul, ol {
			margin-top: 15px;
			margin-bopadding-leftttom: 15px;
			padding-left: 20px;
			line-height: 20px;
			list-style: disc outside none;
			li {
				margin: 0 0 1px;
			}
		}
	}
	.subcategory {
		width: 100%;
		font-size: 20px;
		font-weight: 500;
		margin: 0 0 10px;
		padding-bottom: 13px;
		line-height: 32px;
		border-bottom: 1px solid #ddd;
		position: relative;
	}

	.group-item {
		.group-industry, .group-location {
			display: none;
		}
	}

	.wrap-slider {
		margin-top: 20px;
	}

	.responsibility {
		clear: both;
		margin: 0 0 25px;
		padding: 0 0 20px;
		line-height: 1.8;
		color: #878787;
	}
}
