.user-item {

  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;


  :last-child {
    margin-bottom: 0;
  }

  .user-item-inner {
    display: table;
    width: 100%;
    table-layout: fixed;

    .user-image{
      max-width: 110px;
      display: table-cell;
      vertical-align: top;
      width: 90px;
      margin: 0;
      padding: 0 15px 0 0;
    }

    .user-content{
      display: table-cell;
      vertical-align: top;

      a {
        display: block;
        margin: 0;
        text-transform: none;
        color: #333e48;
        line-height: 1.4;
        font-size: 14px;
      }

      h6 {
        font-weight: 400;
      }

      .meta-data {
        padding: 5px 0 0;
        border: none;
        margin: 0;

        span {
          color: #878787;
          font-size: 12px;
          margin-right: 4px;
        }
      }

    }
  }






  @media (min-width: 992px) {


  }
  @media (max-width: 991px) and (min-width: 768px) {
  }
  @media (max-width: 767px) and (min-width: 576px) {
  }
  @media (max-width: 575px) {
  }
}



