.group-icon {
  margin: 0 auto;
  max-width: 80px;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  a {
    margin: 0 auto;


    img {
      position: relative;
      max-width: 100%;
      height: auto;
      border: 0;
      backface-visibility: hidden;
      transform: translateZ(0);
      vertical-align: middle;
    }
  }

  .product-review {
    margin-top: 10px;
  }

  @media (min-width: 992px) {


  }
  @media (max-width: 991px) and (min-width: 768px) {
  }
  @media (max-width: 767px) and (min-width: 576px) {
  }
  @media (max-width: 575px) {
    max-width: 60px;
  }
}



