.user-icon {
  margin: 0 auto;
  max-width: 100px;
  border: 1px solid #eee;
  border-radius: 50%;
  a {
    margin: 0 auto;


    img {
      position: relative;
      max-width: 100%;
      height: auto;
      border: 0;
      border-radius: 50%;
      backface-visibility: hidden;
      transform: translateZ(0);
      vertical-align: middle;
    }
  }

  @media (min-width: 992px) {


  }
  @media (max-width: 991px) and (min-width: 768px) {
  }
  @media (max-width: 767px) and (min-width: 576px) {
    width: 15%;
  }
  @media (max-width: 575px) {
    width: 15%;
  }
}



