
/*

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n7.8bfd11295a1edbb769a778900a2afc48b16848e7.woff2?&hmac=6fd0b3b828075f51374c021e8f38341cf66d4e68359d7692420952bde31d1e05") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n7.4e2eb03bfa5cdc209fbd1b7b5ee863b8032f4b36.woff?&hmac=6d2ddfe15273a496f607fbd504f5f5a5ce77ca3608504b568a91bc4e6e9dd899") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n4.5460e0463a398b1075386f51084d8aa756bafb17.woff2?&hmac=b6802c8274c3cd18da36cfd2c72f894815128651c45261ab566956ebfb89900b") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n4.8512334118d0e9cf94c4626d298dba1c9f12a294.woff?&hmac=0491ad48cbcdd4bad3dd718c7ee0163d865d552bdd2420b93b0e844f84f80b7e") format("woff");
}



@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n3.e625f784016f3f6ecc60fbe32f43a8968a01f630.woff2?&hmac=a5e63885428e604eec571d8645ce76ebf0258ebdf88815f9dcadeaac19722269") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n3.802efb07b3f5051e538f43bcf2ea8622d85014ad.woff?&hmac=ad956159b6546e82f07bf4c770ed7397a866e1fb686554aecaaf161bf0e1a763") format("woff");
}


@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n4.5460e0463a398b1075386f51084d8aa756bafb17.woff2?&hmac=b6802c8274c3cd18da36cfd2c72f894815128651c45261ab566956ebfb89900b") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n4.8512334118d0e9cf94c4626d298dba1c9f12a294.woff?&hmac=0491ad48cbcdd4bad3dd718c7ee0163d865d552bdd2420b93b0e844f84f80b7e") format("woff");
}


@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n6.63a74f6cbbfef729fb07955b2d5b4cc83273862e.woff2?&hmac=e19d9186b73bc1f237d56ac7e5bbc5a59f891ae4cb81099537a314d966e0be6c") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n6.1c4dde7af5554df3b20e440ca17dc8a316a9e1d0.woff?&hmac=cd10c0367e951ec8a8d653ad481ca95699a905fbe85c8e4c977a8af919bd8da5") format("woff");
}


@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n7.8bfd11295a1edbb769a778900a2afc48b16848e7.woff2?&hmac=6fd0b3b828075f51374c021e8f38341cf66d4e68359d7692420952bde31d1e05") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n7.4e2eb03bfa5cdc209fbd1b7b5ee863b8032f4b36.woff?&hmac=6d2ddfe15273a496f607fbd504f5f5a5ce77ca3608504b568a91bc4e6e9dd899") format("woff");
}


@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n8.1a6578d1602b9445554d723b8c42e0908f4d82f0.woff2?&hmac=bcd513e459a5c8115eb10f65f0d79454b0e2acab3daeadea934e70c05044f607") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n8.5bba25de3685e6a02f32b4a9e97462d3380a62e3.woff?&hmac=35620b66bb4b48948b02ec3f8eee99a02122d328db83d611a0687b44b31f4518") format("woff");
}



@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n3.e625f784016f3f6ecc60fbe32f43a8968a01f630.woff2?&hmac=a5e63885428e604eec571d8645ce76ebf0258ebdf88815f9dcadeaac19722269") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n3.802efb07b3f5051e538f43bcf2ea8622d85014ad.woff?&hmac=ad956159b6546e82f07bf4c770ed7397a866e1fb686554aecaaf161bf0e1a763") format("woff");
}


@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n4.5460e0463a398b1075386f51084d8aa756bafb17.woff2?&hmac=b6802c8274c3cd18da36cfd2c72f894815128651c45261ab566956ebfb89900b") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n4.8512334118d0e9cf94c4626d298dba1c9f12a294.woff?&hmac=0491ad48cbcdd4bad3dd718c7ee0163d865d552bdd2420b93b0e844f84f80b7e") format("woff");
}


@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n6.63a74f6cbbfef729fb07955b2d5b4cc83273862e.woff2?&hmac=e19d9186b73bc1f237d56ac7e5bbc5a59f891ae4cb81099537a314d966e0be6c") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n6.1c4dde7af5554df3b20e440ca17dc8a316a9e1d0.woff?&hmac=cd10c0367e951ec8a8d653ad481ca95699a905fbe85c8e4c977a8af919bd8da5") format("woff");
}


@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/open_sans/opensans_n7.8bfd11295a1edbb769a778900a2afc48b16848e7.woff2?&hmac=6fd0b3b828075f51374c021e8f38341cf66d4e68359d7692420952bde31d1e05") format("woff2"),
       url("https://fonts.shopifycdn.com/open_sans/opensans_n7.4e2eb03bfa5cdc209fbd1b7b5ee863b8032f4b36.woff?&hmac=6d2ddfe15273a496f607fbd504f5f5a5ce77ca3608504b568a91bc4e6e9dd899") format("woff");
}
/*

$black:              #000000;
$white:              #ffffff;
$font-standard:     "Open Sans", sans-serif;
$body-font-size:      14px;
$main-color: #fed700;
$button-btn1: #fed700;
$button-btn1-txt: #333e48;
$button-btn1-border: #fed700;
$button-hover-btn1: #333e48;
$button-hover-btn1-txt: #ffffff;
$button-hover-btn1-border: #333e48;
$font-bold: 600;

@mixin border-radius($tl, $tr, $br, $bl) {
  border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  -ms-border-radius: $tl $tr $br $bl;
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
@mixin ab($t, $l, $b, $r) {
  position: absolute;
  display: block;
  @if $l != n { left: $l; }
  @if $t != n { top: $t; }
  @if $r != n { right: $r; }
  @if $b != n { bottom: $b; }
}

/*Page Password*/
.modern {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.template-password {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  background-image: url(//cdn.shopify.com/s/files/1/0093/3127/7860/t/14/assets/password-page-background.jpg?12073);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  display: table;
  height: 100%;
  width: 100%;
  *, input, *::before, *::after {
    box-sizing: border-box;
  }
  @media (max-width: 767px) {
    background-size: inherit;
  }
}
.password-page__wrapper {
  a {
    color: inherit;
  }
  hr {
    border-color: inherit;
    margin: 0 auto;
    max-width: 60px;
    padding: 15px 0;
  }
  .share-links.social-sharing {
    margin: 0 auto;
    > span {
      display: inline-block;
      padding: 0 15px 0 0;
    }
    ul.list-inline {
      padding: 0;
      margin: 0 auto;
    }
    &.is-clean {
      a {
        background: #ffffff none repeat scroll 0 0;
        color: #333333;
        &:hover {
          background: #ececec none repeat scroll 0 0;
        }
      }
    }
  }
}
.template-password .share-links.social-sharing {
  font-family: $font-standard;
  * {
    box-sizing: border-box;
  }
  li {
    a {
      color: inherit;
      @media (max-width: 479px) {
        font-size: 12px;
      }
    }
  }
  &.is-clean {
    .share-count {
      top: -1px;
    }
    .fa-facebook {
      color: #3b5998;
    }
    .fa-twitter {
      color: #00aced;
    }
    .fa-pinterest {
      color: #cb2027;
    }
    .fa-fancy {
      color: #4999dc;
    }
    .fa-google-plus {
      color: #dd4b39;
    }
    a {
      background-color: #ffffff;
      border: 1px solid #ececec;
      color: #333333;
      height: 30px;
      line-height: 30px;
      span {
        font-size: 13px;
        height: 30px;
        line-height: 30px;
      }
      .share-title {
        font-weight: normal;
      }
      &:hover {
        background-color: #ececec;
        .share-count {
          background-color: #ffffff;
          &:after {
            border-right-color: #ffffff;
          }
        }
      }
    }
  }
  &.is-large {
    a {
      height: 44px;
      line-height: 44px;
      span {
        font-size: 18px;
        height: 44px;
        line-height: 44px;
      }
      .fa {
        padding: 0 10px 0 18px;
        &:before {
          line-height: 44px;
        }
      }
    }
  }
}
.template-password {
  height: 100vh;
  text-align: center;
  .hidden-label {
    display: none;
  }
  .share-title {
    font-size: 12px;
    font-weight: 900;
    padding-right: 10px;
  }
  .is-large {
    .share-title {
      padding-right: 16px;
    }
    .share-count {
      font-size: 18px;
      padding: 0 14px;
    }
  }
  .share-facebook {
    background-color: #3b5998;
    &:hover {
      background-color: #2d4373;
    }
  }
  .share-twitter {
    background-color: #00aced;
    &:hover {
      background-color: #0087ba;
    }
  }
  .share-pinterest {
    background-color: #cb2027;
    &:hover {
      background-color: #9f191f;
    }
  }
  .share-fancy {
    background-color: #4999dc;
    &:hover {
      background-color: #2780cb;
    }
  }
  .share-google {
    background-color: #dd4b39;
    &:hover {
      background-color: #c23321;
    }
  }
}
.password-page__header__inner {
  padding: 15px 30px;
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.password-page__logo {
  color: inherit;
  margin-top: 90px;
  .logo {
    max-width: 100%;
  }
}
.password-page__main {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
.password-page__main__inner {
  padding: 15px;
  vertical-align: middle;
}
.password-page__hero {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.25;
  margin: 0.83em auto;
  color: inherit;
  font-size: 4em;
  text-rendering: optimizelegibility;
  @media (max-width: 767px) {
    font-size: 2.625em;
  }
}
.password-page__message {
  font-size: 120%;
  font-style: italic;
}
.password-page__message img {
  max-width: 100%;
}
.password-page__message,
.password-page__login-form,
.password-page__signup-form {
  margin: 0 auto;
  max-width: 500px;
  .h4 {
    font-size: $body-font-size;
    margin: 1em auto;
    color: inherit;
  }
}
.password-page__message,
.password-page__login-form {
  padding: 30px 15px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .password-page__login-form,
  .password-page__signup-form {
    padding: 0 15px;
  }
}
.password-page__login-form,
.password-page__signup-form {
  .input-group {
    width: 100%;
  }
}
.password-page__login-form,
.password-page__signup-form {
  .errors {
    ul {
      list-style-type: none;
      margin-left: 0;
    }
  }
}
.lt-ie9 .template-password .newsletter__submit-text--small,
.lt-ie9 .template-password .password-page__login-form__submit-text--small {
  display: none !important;
}
input.input-group-field {
  height: 37px;
  padding: 8px 10px;
  line-height: 1.42;
  width: 100%;
  @include border-radius(2px, 0, 0, 2px);
}
input.password-page__login-form__submit[type="submit"],
input.password-page__signup-form__submit[type="submit"] {
  font-size: 0.9em;
}
#LoginModal {
  input.input-group-field {
    color: #333;
    @include placeholder {
      color: #333;
    }
  }
}
.password-page__social-sharing {
  margin-top: 30px;
  .h4 {
    color: inherit;
    font-size: $body-font-size;
    margin-bottom: 15px;
  }
}
.password-login {
  text-align: right;
}
.password-login,
.admin-login {
  margin-top: 15px;
  a {
    color: inherit;
    &:hover {
      color: inherit;
      color: $main-color;
    }
  }
}
.password-login {
  font-family: $font-standard;
  font-size: 0.875em;
  line-height: 14px;
}
.lock-icon-svg {
  display: inline-block;
  height: 14px;
  vertical-align: baseline;
  width: 14px;
  path {
    fill: currentcolor;
  }
}
.lt-ie9 .lock-icon-svg {
  display: none;
}
.password-page__footer_inner {
  font-size: 95%;
  line-height: 24px;
  padding: 30px;
  vertical-align: bottom;
  color: inherit;
}
.shopify-link {
  color: inherit;
  &:hover {
    color: inherit;
  }
}
.shopify-logo-svg {
  display: inline-block;
  height: 24px;
  line-height: 0;
  vertical-align: top;
  width: 82.2857px;
  path {
    fill: currentcolor;
  }
}
.lt-ie9 .shopify-logo-svg {
  display: none;
}
.modern .shopify-name {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
  .btn, .btn--secondary,
  input.btn--secondary,
  .btn--tertiary,
  input.btn--tertiary,
  input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -moz-user-select: none;
    @include border-radius(0, 2px, 2px, 0);
    color: $button-btn1-txt;
    background: $button-btn1;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: $body-font-size;
    font-weight: $font-bold;
    font-style: normal;
    line-height: 1.42;
    height: 37px;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    &:hover,
    &:focus {
      color: $button-hover-btn1-txt;
      background: $button-hover-btn1;
    }
  }
}
.input-group-btn {
  padding: 0;
  white-space: nowrap;
  width: 1%;
}
.input-group-field,
.input-group-btn {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
}
.mfp-hide {
  display: none !important;
}
.mfp-bg {
  background: #ffffff none repeat scroll 0 0;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1042;
}
.mfp-wrap {
  height: 100%;
  left: 0;
  outline: medium none !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1043;
}
.mfp-container {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 100%;
  padding: 0 8px;
  text-align: center;
  width: 100%;
  @include ab(0, 0, n, n);
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: left;
  vertical-align: middle;
  z-index: 1045;
  color: #333;
}
.mfp-inline-holder,
.mfp-ajax-holder {
  .mfp-content {
    cursor: auto;
    width: 100%;
  }
}
.mfp-ajax-cur {
  cursor: progress;
}
button.mfp-close,
button.mfp-arrow {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  outline: medium none;
  overflow: visible;
  padding: 0;
  z-index: 1046;
}
button::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}
.mfp-close {
  color: #333333;
  font-family: Arial,Baskerville,monospace;
  font-size: 28px;
  font-style: normal;
  height: 44px;
  line-height: 44px;
  width: 44px;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  text-align: center;
  text-decoration: none;
  @include ab(0, n, n, 0);
  &:hover,
  &:focus {
    opacity: 1;
  }
  &:active {
    top: 1px;
  }
}
.mfp-close-btn-in .mfp-close {
  color: #333333;
}
.mfp-image-holder,
.mfp-iframe-holder {
  .mfp-close {
    color: #ffffff;
    padding-right: 6px;
    right: -6px;
    text-align: right;
    width: 100%;
  }
}
button.mfp-close {
  color: #333333;
  font-size: 2.5em;
  margin: 30px;
  opacity: 1;
  @media (max-width: 767px) {
    margin: 0;
  }
}

.layout-rtl {
  .password-login {
    text-align: left;
  }
  input.input-group-field {
  	@include border-radius(0, 2px, 2px, 0);
  }
  .input-group .btn, .input-group .btn--secondary,
  .input-group input.btn--secondary, .input-group .btn--tertiary,
  .input-group input.btn--tertiary, .input-group input[type="submit"] {
    @include border-radius(2px, 0, 0, 2px);
  }
  .mfp-close {
    right: auto;
    left: 0;
  }
}
