
@media only screen  and (min-width : 768px) {
  .hero-banner {
    height: 100vh;
    min-height: 620px;
    position: relative;
    overflow: hidden;
    padding: 80px 0;

    &:before {
      content: "";
      background: url(../../assets/v4/blue-banner.png) center center/cover no-repeat local;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .banner-form {
      .btn {
        border-radius: 0 25em 25em 0;
        color: #fff;
      }
    }
  }
  .hero-banner, .main-banner {
    p {
      font-size: 19px;
      line-height: 1.7;
    }

    btn {
      height: 60px;
      padding: 12px 15px;
    }


    .content {
      position: relative;
      z-index: 10;

      h2 {
        font-size: 55px;
        line-height: 1.2;
        margin-bottom: 10px;
      }
    }


    .hero-img {
      position: absolute;
      left: 0;
      top: 0;
    }

  }
  .slide-banner {
    padding: 14% 0;
    min-height: 650px;
    height: 100vh;

    h2 {
      font-size: 60px;
    }

    .form-horizontal .form-control, .slide-banner .form-horizontal .btn {
      height: 62px;
      border-radius: 0;
    }

    .select2-container--default .select2-selection--single, .slide-banner .select2-container--default .select2-selection--multiple {
      border-radius: 0;
      border: none;
      min-height: 62px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 62px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      min-height: 62px;
    }

  }
}
