.swiper-slide-1554699267962-0.swiper-slide-active .heading {
  color: #333e48; font-size: 58px; -webkit-animation-name: moveFromLeft; animation-name: moveFromLeft; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-0.swiper-slide-active .subheading {
  color: #333e48; font-size: 15px; -webkit-animation-name: moveFromRight; animation-name: moveFromRight; -webkit-animation-delay: 2s; animation-delay: 2s;
}
.swiper-slide-1554699267962-0.swiper-slide-active .cation {
  color: #333e48; font-size: 57px; -webkit-animation-name: moveFromTop; animation-name: moveFromTop; -webkit-animation-delay: 3s; animation-delay: 3s;
}
.swiper-slide-1554699267962-0.swiper-slide-active .caption-link {
  -webkit - animation - name: moveFromBottom; animation-name: moveFromBottom; -webkit-animation-delay: 4s; animation-delay: 4s;
}
.swiper-slide-1554699267962-0 img{
  object - position: center center;
}

.swiper-slide-1554699267962-0.swiper-slide-active .image-layer-slide {
  -webkit - animation - name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}


.swiper-slide-1554699267962-1.swiper-slide-active .heading {
  color: #34bcec; font-size: 18px; -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-1.swiper-slide-active .subheading {
  color: #333e48; font-size: 28px; -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-1.swiper-slide-active .cation {
  color: #000000; font-size: 28px; -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-1.swiper-slide-active .caption-link {
  -webkit - animation - name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-1 img{
  object - position: center center;
}

.swiper-slide-1554699267962-1.swiper-slide-active .image-layer-slide {
  -webkit - animation - name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}


.swiper-slide-1554699267962-0.swiper-slide-active .heading {
  color: #333e48; font-size: 58px; -webkit-animation-name: moveFromLeft; animation-name: moveFromLeft; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-0.swiper-slide-active .subheading {
  color: #333e48; font-size: 15px; -webkit-animation-name: moveFromRight; animation-name: moveFromRight; -webkit-animation-delay: 2s; animation-delay: 2s;
}
.swiper-slide-1554699267962-0.swiper-slide-active .cation {
  color: #333e48; font-size: 57px; -webkit-animation-name: moveFromTop; animation-name: moveFromTop; -webkit-animation-delay: 3s; animation-delay: 3s;
}
.swiper-slide-1554699267962-0.swiper-slide-active .caption-link {
  -webkit - animation - name: moveFromBottom; animation-name: moveFromBottom; -webkit-animation-delay: 4s; animation-delay: 4s;
}
.swiper-slide-1554699267962-0 img{
  object - position: center center;
}

.swiper-slide-1554699267962-0.swiper-slide-active .image-layer-slide {
  -webkit - animation - name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}

.swiper-slide-1554699267962-1.swiper-slide-active .heading {
  color: #34bcec; font-size: 18px; -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-1.swiper-slide-active .subheading {
  color: #333e48; font-size: 28px; -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-1.swiper-slide-active .cation {
  color: #000000; font-size: 28px; -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-1.swiper-slide-active .caption-link {
  -webkit - animation - name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}
.swiper-slide-1554699267962-1 img{
  object - position: center center;
}

.swiper-slide-1554699267962-1.swiper-slide-active .image-layer-slide {
  -webkit - animation - name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 1s; animation-delay: 1s;
}

@media (min-width: 1200px) {
  .fix-height .bc-home-slideshow {
    height: 420px;
  }
}
